.first-letter {
	font-size: 65px;
	color: rgb(223, 25, 91);
	float: left;
	line-height: 50px;
}
.shadow-text {
	text-shadow: 3px 4px 4px #818181;
}
.header-bg {
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(97, 186, 255, 1) 0%,
		rgba(166, 239, 253, 1) 90.1%
	);
	padding: 15px;
	border-radius: 15px;
}
